.collage{
    & .col{
        margin:0px; 
    }
    & .row > *{
        padding:0px;
    }
    & .airbnb, & .webkit{
        text-align: center !important;
    } 
    & .hendrix{
        padding:0px;
        margin-top:60px;  
        & .avatar{
            background-color: $orange;
        }
        & img{
            border-radius: 0;
        }
    }
    & .components{
        padding:0px;
        text-align: left;
        font-size: 0.8em;;
        & .col:last-child{
            text-align: left;
            padding-left:10px;
            & dt{
                font-weight: normal;
                font-size:12px;
            }
        }
        & .avatar{
            background-color: $green;
        }
        & dt{
            font-size:15px;
            font-weight:normal;
            color:black;
        }
        & dd{
            font-size:11px;
        }
    }
    & .webkit{
              
        & img{
            width:66px;
            height:66px;
            border-radius:33px;
            padding:0px;
        } 
        & ul{
            padding:0px;
            padding-bottom:10px
        }
        & li{
            display: inline-block;
            padding:0;
            margin:0;
            list-style: none;
        }  
        & ul, dl{
            margin-top: 15px;
            margin-bottom: 0;
        }     
        & .avatars{
            text-align: center !important;
            padding:0px;            
            & li{                
                margin:0px -10px; 
                & img{
                    border:solid 2px white
                }                
            }
        }
        & .avatar-medium{
            margin-right:17px;
        }
        & .actions {
            text-align: center !important;
            & li{
                margin:10px;
                text-align: center;
            }
        }
    }
}